/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Variables Initialized Here */
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box; }

html, body {
  width: 93%;
  margin: 0 auto; }

body {
  background-image: url("../images/backlit.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  color: rgba(225, 225, 225, 0.85);
  font-family: Arial, Times;
  font-size: 62.5%; }

.sep {
  width: 100%;
  border-top: 1px solid rgba(150, 150, 150, 0.5);
  margin: 30px 0; }

.popup {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.popuptext {
  box-sizing: content-box;
  visibility: hidden;
  width: 200px;
  height: 65px;
  background-color: rgba(150, 150, 150, 0.5);
  color: #fff;
  font-size: 15px;
  border-radius: 5px;
  padding: 25px; }
  @media (max-width: 800px) {
    .popuptext {
      padding: 20px 15px 25px 15px;
      width: 90%;
      margin-left: 10px; } }
  @media (max-width: 600px) {
    .popuptext {
      padding: 20px 0px 25px 15px;
      width: 90%;
      visibility: visible; } }

.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 28px;
  border: none;
  outline: none;
  background-color: rgba(150, 150, 150, 0.5);
  color: white;
  cursor: pointer;
  padding: 10px 18px 2px 18px;
  border-radius: 4px; }

nav {
  display: flex;
  justify-content: flex-end; }
  nav a {
    font-size: 1.5em;
    margin: 20px 0 20px 20px;
    text-decoration: none;
    color: rgba(225, 225, 225, 0.85); }
  nav a:hover {
    color: rgba(0, 155, 0, 0.8); }
  @media (max-width: 800px) {
    nav {
      justify-content: space-between; }
      nav a {
        margin: 20px 0px; } }
  @media (max-width: 500px) {
    nav {
      flex-direction: column; }
      nav a {
        text-align: center;
        border: 1px solid;
        padding: 15px;
        width: 100%;
        margin: 10px 0; } }

.intro {
  background: rgba(50, 50, 150, 0.3);
  border-radius: 5px;
  padding: 40px 20px; }
  @media (max-width: 600px) {
    .intro {
      justify-content: center;
      align-content: center;
      text-align: center; }
      .intro .popuptext {
        text-align: left; } }
  .intro p {
    font-size: 1.5em; }
  .intro .picContact {
    display: flex;
    justify-content: space-between; }
  @media (max-width: 600px) {
    .intro .picContact {
      align-items: center;
      flex-direction: column;
      margin: 10px 0; } }
  .intro h1 {
    font-size: 4.5em;
    color: rgba(225, 225, 225, 0.85);
    font-weight: bold;
    margin-bottom: 15px; }
  .intro img {
    width: 200px;
    height: 250px;
    margin-bottom: 10px; }
  .intro button {
    margin: 20px 0 0 0;
    padding: 15px 25px;
    font-size: 1.5em;
    color: white;
    background-color: grey;
    border-radius: 5px; }

.middle {
  margin: 20px 0;
  display: flex;
  justify-content: space-between; }
  .middle h2 {
    font-size: 2em;
    padding-bottom: 10px;
    font-weight: bold; }
  .middle .listen {
    width: 49%;
    font-size: 1.6em; }
    .middle .listen a {
      text-decoration: none;
      border-bottom: 1px dotted rgba(150, 150, 150, 0.5);
      color: rgba(225, 225, 225, 0.85); }
    .middle .listen a:hover {
      color: rgba(0, 155, 0, 0.8); }
    .middle .listen .logo {
      background: white;
      border: 0;
      margin-top: 5px;
      height: 40px;
      width: 40px; }
  .middle .goodAt {
    width: 49%;
    font-size: 1.6em; }
    .middle .goodAt ul {
      border: 1px solid;
      border-radius: 3px;
      border-color: rgba(150, 150, 150, 0.5); }
    .middle .goodAt li {
      border-bottom: 1px solid;
      border-color: rgba(150, 150, 150, 0.5);
      padding: 10px; }
    .middle .goodAt li:last-child {
      border-bottom: 0; }

@media (max-width: 600px) {
  .middle {
    flex-direction: column;
    justify-content: flex-start; }
    .middle .listen {
      width: 100%;
      padding: 10px 0; }
      .middle .listen .logo {
        background-color: transparent;
        border: 0;
        margin-top: 5px;
        width: 100%;
        height: 100%; }
    .middle .goodAt {
      width: 100%;
      padding: 10px 0; } }
.work {
  margin-bottom: 20px; }
  .work h3 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px; }
  .work table {
    border-collapse: collapse;
    width: 100%; }
    .work table th {
      font-weight: bold; }
    .work table td, .work table th {
      border-top: 1px solid #dddddd;
      padding: 15px;
      text-align: left;
      font-size: 1.3em; }
    .work table tr:nth-child(even) {
      background-color: #dddddd;
      color: black; }

footer {
  margin-top: 70px;
  width: 100%;
  background-color: rgba(100, 100, 100, 0.2);
  border-radius: 3px;
  color: white;
  font-size: 1.2em;
  text-align: center;
  padding: 20px 0; }

/*# sourceMappingURL=index.css.map */
